.container {
  width: 100vw;
  margin-top: 24px;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20%;
}

.table_container{
  margin: 0px 20%;
}